.homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 250px;
  padding-right: 250px;
}

.headerTitle {
  padding: 50px;
  text-align: center;
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  .homeContainer {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
  .homeContainer {
    padding-left: 40px;
    padding-right: 40px;
  }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
  .homeContainer {
    padding-left: 100px;
    padding-right: 100px;
  }
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
  .homeContainer {
    padding-left: 250px;
    padding-right: 250px;
  }
}

/* Media Query for Large screens */
@media (min-width: 1281px) {
  .homeContainer {
    padding-left: 250px;
    padding-right: 250px;
  }
}
